/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@charset"utf-8";



/* */ 

#login{
    background-color: white;
    padding: 1%;
    align-content: center;
    margin-top: 0;
}


.jumbotron{
    
    height: 320px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    text-align: center;
    align-content: center;
    margin-top: 0;

}

#jumbotext{
    background-image: url(nrj_logo2.jpg);
    background-color: white;
    margin-top: 0;
}

#register{
    padding: 20px;
    
}

#signinarea{
    padding: 20px;
    background-color: lavender;
}

#enterhere{
    padding: 50px;
    
}

.maincontent{
    background-image: url("image1_copy.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: visible;
    margin-top: 0;
}


nav{
    font-family: 'Stylish', sans-serif;
    background-color: white;
    margin: 0;
    margin-top: 0;
}

.navbar{
    background-color: white;
    border-color: white;
    margin: 0;
    margin-top: 0;
}


a{
    color:whitesmoke;
    font-size: 14pt;
    background-color: white;
}

ul{
    list-style-type: none;
}

.nav li{
    color:whitesmoke;
    font-size: 14pt;
    font-family: 'Stylish', sans-serif;
    background-color: white;
}

.navbar-brand{
    font-size: 2em;
    color:white; 
}

.icon-bar{
    background-color: white;
}

#fa fa-instagram{
    background-color: white;
}

#sign{
    color: white;
    font-size:30pt;
    margin: 0;
}

#allnatural{
    background-image: url(IMG_2881.jpg);
    height: 300px;
    color: white;
    font-size: 40pt;
    padding: 5%;
    text-align: center;
    
}

#one{
    height: 400px;
    background-color: plum;
    padding: 10%;
    margin: auto;

}

#innertext{
    padding: 5%;
    color: white;
    font-size: 25pt;
    border-style: solid;
}

#two{
    background: transparent;
    text-align: center;
    height: 300px;
    font-size: 40pt;
    color: white;
    padding: 30px;
    font-size: 40pt;
}

#three{
    height: 500px;
    font-size: 20pt;
    background-color: white;
    padding: 20px;
    align-content: center;
}

#four{
    background-color: white;
     background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
     height: 300px;
}

#five{
    background-color: #88cc89;
    height: 300px;
    font-size: 20pt;
}


.col-sm-4 img{
    height: 150px;
    width: 150px;
    border-radius: 100%;
}

#juices{
    padding: 0px;
}


footer{
    background-color: aliceblue;
    margin-top: 3%;
    height: 250px;
    font-size: 15pt;
    text-align: center;
    padding-top: 30px;
    padding-right: 17px;
    margin: 0;
}

#border1{
    border-left-style: solid;
    border-right-style: solid;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
   
}

#border2{
    border-right-style: solid;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
   
}

footer li{
    background-color: aliceblue;
    text-decoration: none;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;

}

#themenu{
    padding: 20px;
}

#greenGoodness{
    background-color: lightgreen;
    padding: 20px;
}
